[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/wasm3"]
	path = libs/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "plugins/stb/libs/stb"]
	path = plugins/stb/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "plugins/xml/libs/tinyxml2"]
	path = plugins/xml/libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "plugins/imgui/libs/imgui"]
	path = plugins/imgui/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "plugins/wasm/libs/wasm3"]
	path = plugins/wasm/libs/wasm3
	url = https://github.com/wasm3/wasm3.git
